{% extends 'Admintemplates/index.html' %}
{% load static %}
{% block body %}

<div class="container">	
	<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">
					<h2 class="title1"></h2>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>Change Password</h4>
						</div>

			<div class="form-body">
				<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="row">
                    <div class="col-md-12 agileits_agile_about_mail_left">
						<input  class="form-control" type="password" name="password1" placeholder="Old Password" required="">
					<div class="clearfix"> </div>
					</div>

				</div>

                <div class="row">
                    <div class="col-md-12 agileits_agile_about_mail_left">
						<input  class="form-control" type="password" name="password2" placeholder="New Password" required="">
					<div class="clearfix"> </div>
					</div>

				</div>

				<div class="row">
                    <div class="col-md-12 agileits_agile_about_mail_left">
						<input  class="form-control" type="password" name="password3" placeholder="Confirm Password" required="">
					<div class="clearfix"> </div>
					</div>

				</div>

            


                    
					<div class="submit pull-right">
						<input  class="form-control btn btn-primary mb-2" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}