{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="agile_about contact" id="contact">

		<div class="agileits_agile_contact_form">
			<h3>Login</h3>
										
	<div class="container">	
			<div class="agileits_agile_about_mail">
				<form action="" method="post">
                {% csrf_token %}
                <div class="row">
					<div class="col-md-12 agileits_agile_about_mail_left">
						<input type="text" name="username" placeholder="Username" required="">
					<div class="clearfix"> </div>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 agileits_agile_about_mail_left">
						<input type="password" name="password" placeholder="Password" required="">
					<div class="clearfix"> </div>
					</div>
				</div>
				
					<div class="submit pull-right" style="margin-top:10px;margin-right:3%;margin-bottom:10%">
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}