{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="agile_about contact" id="contact">

		<div class="agileits_agile_contact_form">
			<h3>{% if profile %}Edit User profile {% else %}Register With Us{% endif %}</h3>
										
	<div class="container">	
			<div class="agileits_agile_about_mail">
				<form action="{% if profile %}/edit_user/{{profile.user.id}}/{% else %}/register/{% endif %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 agileits_agile_about_mail_left">
					<label>Username</label>
						<input type="text" name="username" placeholder="Username" value="{{profile.user.username}}" required="" {% if profile %}readonly{% endif %}>
					<div class="clearfix"> </div>
					</div>

                    <div class="col-md-6 agileits_agile_about_mail_left" {% if profile %}hidden{% endif %}>
					<label>Password</label>
						<input type="password" name="password" placeholder="Password" {% if not profile %} required="" {% endif %}>
					<div class="clearfix"> </div>
					</div>

					{% if not profile %}
				</div>

				<div class="row">
				{% endif %}
				
                    <div class="col-md-6 agileits_agile_about_mail_left">
					<label>Email</label>
						<input type="email" name="email" placeholder="Email" required="" value="{{profile.user.email}}">
					<div class="clearfix"> </div>
					</div>

					<div class="col-md-6 agileits_agile_about_mail_left">
					<label>First Name</label>
						<input type="text" name="first_name" placeholder="First Name" required="" value="{{profile.user.first_name}}">
					<div class="clearfix"> </div>
					</div>
				{% if not profile %}
				</div>

				<div class="row">
				{% endif %}
                    <div class="col-md-6 agileits_agile_about_mail_left">
					<label>Last Name</label>
						<input type="text" name="last_name" placeholder="Last Name" required="" value="{{profile.user.last_name}}">
					<div class="clearfix"> </div>
					</div>

					

					<div class="col-md-6 agileits_agile_about_mail_left">
					<label>Phone</label>
						<input type="text" name="contact_no" placeholder="Phone" required="" value="{{profile.contact_no}}">
					<div class="clearfix"> </div>
					</div>
				{% if not profile %}
				</div>

				<div class="row">
				{% endif %}
                    <div class="col-md-6 agileits_agile_about_mail_left">
					<label>City</label>
						<input type="text" name="city" placeholder="City" required="" value="{{profile.city}}">
					<div class="clearfix"> </div>
					</div>

                    <div class="col-md-6 agileits_agile_about_mail_left">
					<label>Address</label>
						<input type="text" name="address" placeholder="Address" required="" value="{{profile.address}}">
					<div class="clearfix"> </div>
					</div>
					{% if not profile %}
				</div>

				<div class="row">
				{% endif %}
                    <div class="col-md-{% if profile %}4 {% else %}6 {% endif %} agileits_agile_about_mail_left">
						<label>Images</label>
						<input type="file" name="images" {% if not profile %}required=""{% endif %}>
						<span>{{profile.images}}</span>
						<div class="clearfix"> </div>
					</div>

				{% if profile %}
                    <div class="col-md-2 agileits_agile_about_mail_left">
						<img src= "{{profile.images.url}}" style = "width:120px;height:120px">
						<div class="clearfix"> </div>
					</div>
				{% endif %}

				</div>

						<input type="submit" value="Submit" style = "margin-top:2%">

				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}